<?xml version="1.0"?>
<robot name="lepantilt" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find lepantilt_description)/urdf/pantilt.common.xacro"/>
  <xacro:include filename="$(find lepantilt_description)/urdf/pantilt.control.xacro"/>
  <xacro:include filename="$(find lepantilt_description)/urdf/pantilt.module.xacro"/>
  <!-- OAK-D camera and IMU integration -->
  <xacro:include filename="$(find depthai_descriptions)/urdf/include/depthai_macro.urdf.xacro"/>

  <!-- Standalone pantilt module instantiation -->
  <link name="base_footprint"/>
	<xacro:lepantilt_module parent="base_footprint">
	  <origin xyz="0 0 0" rpy="0 0 0"/>
	</xacro:lepantilt_module>


</robot>
